.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px
}

.register-card {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
    max-width: 480px;
    width: 100%
}

.btn-submit {
    background: #FFD700;
    color: #001F3F;
    padding: 10px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer
}